<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">
                <div class="logo">台北一日遊</div>
            </a>
            <div class="items">
                <li class="direct-to-booking-button">預定行程</li>
                <li class="signin-signup-button" style="display: none;">登入/註冊</li>
                <li class="logout" style="display: none;">登出系統</li>
            </div>
        </nav>
    </header>

{% block pre_sign %}
{% endblock %}
            <div class="sign-in">
                <div class="decorator-bar"></div>
                <div class="close-button">
                    <img src="/static/img/close.png" alt="the close button for closing the sign-in page">
                </div>
                <div class="signin-title">
                    <span class="h3-bold">登入會員帳號</span>
                </div>
                <div class="signin-info">
                    <input type="email" class="body-medium" id="signin-email" placeholder="輸入電子信箱" required>
                    <input type="password" class="body-medium" id="signin-password" placeholder="輸入密碼" required>
                </div>
                <div class="signin-button">
                    <div class="button-regular">登入帳戶</div>
                </div>
                <div class="signin-signup">
                    <span class="switch-to-signup body-medium">還沒有帳戶？點此註冊</span>
                </div>
                <div class="signin-message">
                    <span></span>
                </div>
            </div>
            <div class="sign-up">
                <div class="decorator-bar"></div>
                <div class="close-button">
                    <img src="/static/img/close.png" alt="the close button for closing the sign-up page">
                </div>
                <div class="signup-title">
                    <span class="h3-bold">註冊會員帳號</span>
                </div>
                <div class="signup-info">
                    <input type="text" class="body-medium" id="signup-name" placeholder="輸入姓名" required>
                    <input type="email" class="body-medium" id="signup-email" placeholder="輸入電子郵件" required>
                    <input type="password" class="body-medium" id="signup-password" placeholder="輸入密碼" required>
                </div>
                <div class="signup-button">
                    <div class="button-regular">註冊新帳戶</div>
                </div>
                <div class="signin-signup">
                    <span class="switch-to-signin body-medium">已經有帳戶了？點此登入</span>
                </div>
                <div class="signup-message">
                    <span></span>
                </div>
            </div>
            <div class="lightbox-mask"></div>
{% block content %}
{% endblock %}}
    <footer>
        <div class="copyright">
            <p class="body-bold">COPYRIGHT&nbsp;&copy;&nbsp;2021&nbsp;台北一日遊</p>
        </div>
    </footer>
    {% block script %}
    {% endblock %}
</body>
</html>