{% extends "base.html" %}
{% block title %} 台北一日遊 {% endblock %}
{% block pre_sign %}
    <main>
        <div class="banner">
            <div class="img-wrapper">
                <img src="/static/img/welcome image.png" alt="the beautiful view of the whole Taipei City">
            </div>
            <div class="content-wrapper">
                <div class="slogan-div">
                    <div class="header">輕鬆享受台北一日悠閒</div>
                    <div class="body">探索每個角落，體驗城市的深度旅遊行程</div>
                </div>
                <div class="clear"></div>
                <div class="search-div">
                    <input type="text" id="input" placeholder="輸入景點名稱查詢" autocomplete="off">
                    <div class="button">
                        <img src="/static/img/search.png" alt="the search button for attraction category list">
                    </div>
                    <div class="category-list"></div>
                </div>
            </div>
            
        </div>
        <div class="main-container">
            <div class="attractions"></div>
{% endblock %}
{% block content %}
        </div>
        <div class="target-element"></div>
    </main>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}